.work-row{
    text-align: left;
    padding-top: 6px;
}

.work-row>button.btn-danger{
    right: -20px;
    float: right;
    height: 25px;
    padding: 0 6px;
    position: relative;
}

.work-row>button.btn-primary{
    right: 40px;
    float: right;
    height: 25px;
    padding: 0 6px;
    position: relative;
}